
server {
    host : 127.0.0.1
    port : 8080
    server_name : localhost
    bodysize_limit : 10
    default_error_pages : /path

    location / (
        method : GET, POST
        root : /path
        autoindex : on
        cgi : off
        default : index.html
    )

    location /test (
        method : GET, POST, DELETE
        root : /Users/slaajour/Downloads/
        autoindex : on
        cgi : off
        default : 
    )

    location /upload (
        method : GET, POST, DELETE
        root : /path
        autoindex : off
        cgi : off
        default : index.html
    )
}

server {
    host : 127.0.0.1
    port : 8082
    server_name : localhost
    bodysize_limit : 10
    default_error_pages : /path

    location / (
        method : GET, POST
        root : /path
        autoindex : on
        cgi : off
        default : index.html
    )

    location /test (
        method : GET, POST
        root : /path
        autoindex : off
        cgi : off
        default : index.html
    )

    location /upload (
        method : GET, POST, DELETE
        root : /path
        autoindex : off
        cgi : off
        default : index.html
    )
}
